{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE | Gestion des articles{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">BACK-OFFICE | Gestion des articles <small><a href="{{ path('admin_new_article')}}" class="btn btn-dark btn-sm" >Nouvel article</a></small></h1>

    {% for message in app.flashes ('success') %}

    <div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3">
    {{ message }}
    </div>

    {% endfor %}



    <table class="table table-bordered text-center">

        <tr>
            {% for data in colonnes %}

                {% if data == 'createdAt' %}
            
                    <th>DATES</th>

                {% else %}

                    <th>{{ data|upper }}</th>

                {% endif %}
            
            {% endfor %}

            <th>CATEGORIE</th>
            <th>EDIT</th>
            <th>SUPP</th>

        </tr>
        {% for data in articles %}

        <tr>
            <td class="align-middle">{{ data.id}}</td>
            <td class="align-middle">{{ data.title}}</td>
            <td class="align-middle">{{ data.content|striptags }}</td>
            <td class="align-middle">{{ data.createdAt| date('d/m/Y à H:i:s') }}</td>
            <td class="align-middle"><img src="{{ data.image }}" alt="{{ data.title }}" </td>
            <td class="align-middle">{{ data.category.title }}</td>

            <td class="align-middle"><a href="{{ path('admin_edit_article', {'id': data.id}) }}" class="btn btn-dark text-white">
            <i class="fas fa-edit fa-1x"></i></a></td>
            <td class="align-middle"><a href="" class="btn btn-danger text-white">
            <i class="fas fa-trash fa-1x"></i></a></td>
        </tr>

       



        {% endfor %}
    </table>

{% endblock %}
