{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="display-4 text-center">Création d'un article</h1>

   {#} <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Entrer un Titre</label>
            <input type="text" name="title" class="form-control" id="title">

        </div>
        <div class="form-group">
            <label for="content">Contenue de l'article</label>
            <textarea class="form-control" name="content" id="content" rows="3"></textarea>
        </div>

    
    <div class="form-group">
        <label for="image">Image</label>
        <input type="text" name="image" class="form-control" id="image">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div> #}

   {#{{ form(formArticle) }}#} 

    {{form_start(formArticle,{'attr':{'class': 'col-md-7 mx auto' } }) }} 
    
        {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}

        {{ form_row(formArticle.content, {'attr': {'placeholder' : "Contenu de l'article", "rows": 15}}) }}

        {{ form_row(formArticle.image ,{'attr': {'placeholder' : "URL de l'image", }}) }}

        <button type="submit" class="btn btn-primary">
        
        {% if editMode %}

            enregistrer les modifications

        {% else %}
        {# Sinon cela veut dire que l'article ne possède pas l'ID, c'est donc une insertion #}
            enregistrer l'article

        {% endif %}
        </button>

    
    {{ form_end(formArticle) }}



    
</form>{% endblock %}