{% extends "base.html.twig" %}

{% block title %}MonBlog Symfony | Détail article {% endblock %}


{% block body %}

<h1 class="display-4 text-center my-4">Detail de l'article</h1>

<div class="col-md-12">
    <div class="card mb-4 shadow-sm">
    {#replace() : filtre TWIG permettant de remplacer la hauteur/largeur dans l'URL de l'image  #}
      <img src="{{article.image|replace ({'200/300':'1000/300'})}}">
      <div class="card-body">
        <p class="card-text">{{ article.content|raw}}</p>
      </div>
      <small class="text-muted">{{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i:s') }}</small>
      <small><a href="{{ path('blog_edit', {'id': article.id } ) }}" class="btn btn-dark ml-2 mb-2">EDIT</a><small>   
    </div>
  </div>

{% endblock %}